doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MG &eacute;co-construction
    meta(name='description', content='MG éco-construction')
    meta(name='author', content='MG éco-construction')
    meta(name='viewport', content='width=device-width')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
  body.c-mgeco
    .o-wrapper
      .o-layout.o-layout--flush
        .o-layout__item.c-sidebar(class='u-1/1 u-1/4@tablet')
          .c-logo
            img(src='old_files/logo_mg.jpg')
          nav.c-nav
            ul.o-list-bare
              li
                a.c-sidebar__link(href='#') Pr&eacute;sentation
              li
                a.c-sidebar__link(href='#') La construction bois
              li
                a.c-sidebar__link(href='#') Conception de projet
              li
                a.c-sidebar__link(href='#') &Eacute;thique
              li
                span.c-sidebar__link.c-sidebar__link--active(href='#') Photos
              li
                a.c-sidebar__link(href='#') Liens
        .o-layout__item.c-main-area(class='u-1/1 u-3/4@tablet')
          h1.u-h2 Nos r&eacute;alisations de maisons &eacute;cologiques dans le Lot (46)
          p
            | Vous verrez un aper&ccedil;u des possibilit&eacute;s diverses que nous vous proposons :
            ul
              li
                | Diff&eacute;rents types de
                b toitures
                |  : bardeaux de bois (shakes de red cedar), bardage bois (m&eacute;l&egrave;ze), tuiles en terre cuite, toiture en zinc, bac-acier, toiture-terrasse (couverte en b&acirc;che EPDM Firestone) pouvant &ecirc;tre v&eacute;g&eacute;talis&eacute;es...
              li
                | Diff&eacute;rents types de
                b finitions int&eacute;rieures
                |  : enduit terre (ARGILUS), enduits chaux, volige peuplier, volige m&eacute;l&egrave;ze brute ou rabot&eacute;e, plancher ch&ecirc;ne, plancher fr&ecirc;ne olivier, tommettes de la tuilerie de Condat...
              li
                | Diff&eacute;rents types de
                b parements ext&eacute;rieurs
                |  : plancher acacia de pays ou ch&ecirc;ne de pays en terrasse, bardage m&eacute;l&egrave;ze, bardage Red cedar, enduits &agrave; la chaux...
              li
                | Ainsi que diff&eacute;rents
                b modes constructifs
                |  : murs d&apos;ossature bois r&eacute;alis&eacute;s dans notre atelier &agrave; Limogne et assembl&eacute;s sur site, charpente traditionnelle, charpente pour toiture ronde, structure poteaux-poutres et chevrons porteurs.
            |  Comme le montrent ces images, ces modes constructifs permettent
            b toutes sortes d&apos;architectures et de finitions
            | .
          p
            i Les photos 1 &agrave; 48 sont de Nils Harderveld, et 49 &agrave; 60 de St&eacute;phanie Bodart.
          .pswp(tabindex='-1', role='dialog', aria-hidden='true')
            .pswp__bg
            .pswp__scroll-wrap
              .pswp__container
                .pswp__item
                .pswp__item
                .pswp__item
              .pswp__ui.pswp__ui--hidden
                .pswp__top-bar
                  .pswp__counter
                  |
                  button.pswp__button.pswp__button--close(title='Close (Esc)')
                  |
                  button.pswp__button.pswp__button--share(title='Share')
                  |
                  button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                  |
                  button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                  .pswp__preloader
                    .pswp__preloader__icn
                      .pswp__preloader__cut
                        .pswp__preloader__donut
                .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                  .pswp__share-tooltip
                |
                button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
                |
                button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
                .pswp__caption
                  .pswp__caption__center

          .c-gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
            each image in images
              .c-gallery__image(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                a.c-gallery__link(href=`images/gallery/${image.path}`, title=`${image.description}`, itemprop='contentUrl', data-size=`${image.dimensions}`)
                  img.c-gallery__thumbnail(src=`images/gallery/thumbnails/${image.path}`, alt=`${image.description}`, itemprop='thumbnail')
                  .c-gallery__caption(itemprop='caption description')
                    span #{image.description}

    .c-footer__outer
      .c-footer__inner
        .c-footer__content
          .c-cta-contact
            a(href='#')
              img(src='old_files/poste.jpg')
    script(type='text/javascript', src='vendor.js')

