| {{ partial "header" . }}
h1#main-area-title.c-main-area__title.u-h1
  span.c-main-area__pretitle
    | {{- .Title -}}
  span.c-main-area__subtitle
    | {{- .Params.subtitle -}}
.c-main-content
  p
    | {{ .Content }}
.pswp(tabindex='-1', role='dialog', aria-hidden='true')
  .pswp__bg
  .pswp__scroll-wrap
    .pswp__container
      .pswp__item
      .pswp__item
      .pswp__item
    .pswp__ui.pswp__ui--hidden
      .pswp__top-bar
        .pswp__counter
        |
        button.pswp__button.pswp__button--close(title='Close (Esc)')
        |
        button.pswp__button.pswp__button--share(title='Share')
        |
        button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
        |
        button.pswp__button.pswp__button--zoom(title='Zoom in/out')
        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut
      .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
        .pswp__share-tooltip
      |
      button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
      |
      button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
      .pswp__caption
        .pswp__caption__center

.c-galleryLoader
  .c-galleryLoader__progress(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='0')
.c-gallery(itemscope='', itemtype='http://schema.org/ImageGallery')
  each image in images
    .c-gallery__image(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject', role='img', aria-labelledby=`${image.path}`)
      a.c-gallery__link(href=`/images/gallery/${image.path}`, title=`${image.description}`, itemprop='contentUrl', data-size=`${image.dimensions}`)
        img.c-gallery__thumbnail(src=`/images/gallery/thumbnails/${image.path}`, alt=`${image.description}`, itemprop='thumbnail')
        .c-gallery__caption(itemprop='caption description')
          span(id=`${image.path}`) #{image.description}
| {{ partial "footer" . }}
script(src='/js/gallery_vendors.js')
script(src='/js/gallery.js')
